<body>
<div class="body">
  <div class="container">

    <ng-container *ngIf="!fileChoosen">
      <h1 class="mt-5">Add a new receipt</h1>
      <p class="lead">Then we'll parse it for you using Machine Learning and OCR.</p>

      <input id="photo" type="file" accept=".png, .jpg" class="upload-btn" (change)="onFileChosen($event)">
    </ng-container>

    <ng-container *ngIf="fileChoosen">
      <h1 class="mt-5">Upload Success</h1>
      <p class="lead">Processing Receipt</p>

      <ng-container *ngIf="!ocrDone">
        <mat-spinner></mat-spinner>
      </ng-container>

      <ng-container *ngIf="ocrDone">
        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <img [src]="imgUrl" style="max-width: 100%; padding-bottom: 1%">
                <button mat-button (click)="onSplitClick()" class="split-btn">Split Receipt</button>
                <button mat-button (click)="onResetClick()" class="split-btn">Upload Another Receipt</button>
              </div>

              <div class="col-md-6">
                <mat-card style="max-height: 100vh">
                  <mat-card-content>
                    <h1>Receipt Fields</h1>
                    <p class="lead">Merchant name: {{imageFields.merchantName}}</p>
                    <p class="lead">Total Amount (in CAD): $ {{imageFields.amount | number: '1.2-2'}}</p>
                    <p class="lead" *ngIf="imageFields.originalCurrency !== 'CAD'">
                      Original Amount (in {{imageFields.originalCurrency}}):
                      {{imageFields.originalAmount | number: '1.2-2'}}
                    </p>
                    <h1 class="mt-5">Breakdown: </h1>
                    <ng-container *ngFor="let item of imageFields.lineItems">
                      <p class="small">{{item.text}}</p>
                    </ng-container>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </div>

      </ng-container>
    </ng-container>
  </div>
</div>
</body>

