<body>
<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <img class="mr-3" src="../../assets/img/49945.svg" alt="" width="48" height="48">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Friends</h6>
      <small>See what expenses are being split</small>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Who Owes You</h6>
    <div class="media text-muted pt-3" *ngIf="isIsabella">
      <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Sean owes you:</strong>
        $ {{seanAmountOwing}}
      </p>
    </div>
    <div class="media text-muted pt-3" *ngIf="!isIsabella">
      <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">None</strong>
        No one owes you money at this time.
      </p>
    </div>
    <small class="d-block text-right mt-3">
      <a href="/">Logout</a>
    </small>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm" *ngIf="!isIsabella">
    <h6 class="border-bottom border-gray pb-2 mb-0">What you owe others</h6>
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">You owe Isabella</strong>
          <a (click)="onPayClick()">Pay Mans</a>
        </div>
        <span class="d-block">${{seanAmountOwing}}</span>
      </div>
    </div>
    <div class="media text-muted pt-3" *ngIf="isIsabella">
      <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">None</strong>
        You don't owe anyone any money at this time.
      </p>
    </div>
    <small class="d-block text-right mt-3">
      <a href="/">Logout</a>
    </small>
  </div>
</main>
</body>
